In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
headers = { 'User-Agent': 'Mozilla/5.0 (Windows NT 6.0; WOW64; rv:24.0) Gecko/20100101 Firefox/24.0' }

In [5]:
result = requests.get("https://www.oglasnik.hr/stanovi-prodaja?ad_location_2%5B%5D=7442&ad_price_code=EUR")

In [6]:
result.status_code

200

In [7]:
page_content = result.content

In [8]:
soup = BeautifulSoup(page_content)

In [11]:
titles = soup.find_all('h3', class_="classified-title")
#<h3 class="classified-title">Vrapče, 2,5-sobni stan u zgradi površine 71 m2</h3>

In [15]:
titles[0]

In [16]:
data = []
for title in titles:
    data.append(title.text)

In [17]:
data[0]

'Vrapče, 2,5-sobni stan u zgradi površine 71 m2'

In [32]:
#urls = []
        #for link in article.find_all("a","ad-box ad-box-wide no-hover no-checkbox category-listing clearfix izdvojeno-osnovni"):
        #urls.append(link.get("href"))
        
        #<a href="https://www.oglasnik.hr/stanovi-prodaja/maksimir-remete-oglas-4086158" class="ad-box ad-box-wide no-hover no-checkbox category-listing clearfix izdvojeno-osnovni">

In [33]:
urls = []
for link in soup.find_all("a", "ad-box ad-box-wide no-hover no-checkbox category-listing clearfix izdvojeno-osnovni"):
    urls.append(link.get("href"))

In [25]:
urls[0]

'https://www.oglasnik.hr/stanovi-prodaja/srednjaci-prostran-3-soban-stan-na-odlicnoj-lokaciji-oglas-4086336'

In [30]:
urls = [url for url in urls if url.startswith("/")]

In [29]:
len(urls)

0

In [31]:
the_data = []

In [173]:
for link in soup.find_all("a", "ad-box ad-box-wide no-hover no-checkbox category-listing clearfix izdvojeno-osnovni"):
    naslov, kvadratura, sobnost, cijena = "NaN", "NaN", "NaN", "NaN"
    
    if link.find("h3","classified-title")!= None:
        naslov = link.find("h3","classified-title").text
    
    if link.find("span", "classified-param-value")!= None:
        kvadratura = link.find("span", "classified-param-value").text
       #<span class="classified-param-value">71 m<sup>2</sup></span>
        
    #if link.find("span", "classified-param-value") != None:
        #sobnost = link.find("span", "classified-param-value").text
        #<span class="classified-param-value">2,5-sobni</span>
        
        
        sobnost= link.findAll("span", {"class" : "classified-param-value"})
        sobnost= sobnost[1]
        sobnost.text
    
        
        #if link.find("class", "Broj soba:")!= None:
            #sobnost = link.find("class","Broj soba:").text
        #<span class="classified-param-value">2,5-sobni</span>
        #<span class="classified-param">Broj soba: <span class="classified-param-value">2,5-sobni</span></span>
        
        
    if link.find("span", "price-kn")!= None:
        cijena = link.find("span", "price-kn").text
        #<span class="price-kn">886.361 kn</span>
        
    the_data.append({
        "naslov": naslov,
        "kvadratura": kvadratura,
        "cijena": cijena,
        "sobnost": sobnost
        
        
        
    })

In [168]:
import pandas as pd

In [169]:
df = pd.DataFrame(data=the_data)

In [174]:
df.head(10)

,cijena,kvadratura,naslov,sobnost
0,1.107.951 kn,77 m2,"SREDNJACI, PROSTRAN 3-SOBAN STAN NA ODLIČNOJ L...",NaN
1,517.044 kn,35 m2,Maksimir - Remete,NaN
2,1.477.268 kn,106 m2,Remete 4 sobni,NaN
3,738.634 kn,56 m2,"NA PRODAJU 2S STAN,56m2,I-KAT,ZAGREB,KNEŽIJA",NaN
4,674.690 kn,55 m2,"DUBRAVA, MIROŠEVEČKA C: STAN U NOVOGRADNJI, 55 m2",NaN
5,544.373 kn,36 m2,"Zagreb, Kvatrić, 1-sobni 36,85 m2 PRILIKA",NaN
6,849.429 kn,54 m2,"Trešnjevka, Ozaljska, 2.s.stan, 54m2 na 1.katu...",NaN
7,1.809.654 kn,135 m2,"Zagreb, Ksaver, stan, 135 m2",NaN
8,701.702 kn,76 m2,"Zagreb, Sesvete, 3-sobni stan s terasom, 76 m2",NaN
9,1.137.496 kn,98 m2,"Zagreb-Gajnice, 3.5-sobni stan u zgradi, proda...",NaN

In [166]:
link.find_all("span", "classified-param-value")

[<span class="classified-param-value">52 m<sup>2</sup></span>,
 <span class="classified-param-value">2-2.5 sobni</span>]

In [135]:
ct= soup.findAll("span", {"class" : "classified-param-value"})
ct= ct[1]
print(ct)

<span class="classified-param-value">2,5-sobni</span>

In [145]:
ct.text

'2-2.5 sobni'

In [175]:
len(df)

399

In [176]:
df.to_csv("stanovi_analiza.csv", index=False, sep=",")